<div class="form-container col-xs-12 col-sm-6 col-sm-offset-3">

<h3>Add a bike listing</h3>

<div class="form-fields">
  <%= simple_form_for [:account, @bike] do |f| %>
    <%= f.input :name, :label => 'Name of your bike' %>
    <%= f.input :price, :label => 'Price per day' %>
    <%= f.input :condition %>
    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.input :availability, label: 'List as available' %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "post this bike", class: "btn btn-yellow" %>
  <% end %>
</div>

</div>
