<div class="main-container">
  <h1>New Rental Request</h1>

<div class="content-container">
  <div class="info-container col-xs-12 col-sm-4 col-sm-offset-2">
    <div class="rental-bike-info">
      <h3>Bike details</h3>
      <%= @bike.name %> <br/>
      <%= @bike.location %>
      <%= @bike.price %>
      <%= image_tag 'bycicle.jpg', width: 400, height: 300 %>
    </div>

    <div class="seller-info ">
      <h3>Provided by</h3>
      <%= @bike.seller.email %>
      <%= @bike.seller.first_name %>
      <%= @bike.seller.address %>
      <%= image_tag 'avatar.jpg', width: 400, height: 300, class: 'avatar-large' %>
      <%= @bike.seller.photo %>
    </div>
  </div>

<div class="form-container col-xs-12 col-sm-6">
  <div class="new-rental-form col-xs-6">
    <%= render 'shared/new_rental_form' %>
  </div>
  </div>
</div>

</div>
