
<div class="profile-header-wrapper" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('tricycle.jpg')%>');">
  <div class="container profile-header-container text-center">
    <div class="profile-header-infos">
      <img src= <%= "geek.jpg" %> alt="">
      <h1> <%= current_user.name %> </h1>
      <h2> <%= current_user.description %> </h2>
    </div>

    <div class="tabs">
      <a class="tab <%= 'active' if params["active"] == "bikes" || params["active"] == nil%>" href="#" data-target="bikes">
        <h3>My Bikes</h3>
        <p>Access my fleet</p>
      </a>
      <a class="tab <%= 'active' if params["active"] == "reservations" %>" href="#" data-target="reservations">
        <h3>My Reservations</h3>
        <p>Half the wheels, twice the fun</p>
      </a>
      <a class="tab <%= 'active' if params["active"] == "rentals" %>" href="#" data-target="rentals">
        <h3>My Rentals</h3>
        <p>Think globally, cycle locally</p>
      </a>
    </div>

  </div>
</div>
    <div class="tab-content" id="bikes">
      <h3 class="text-center">
        <%= render 'shared/account_bike_index', locals: { bikes: @bikes } %>
      </h3>
    </div>

    <div class="tab-content hidden" id="reservations">
      <h3 class="text-center">
 <%= render 'shared/reservations_index', locals: { reservation: @reservation }  %>

      </h3>
    </div>

    <div class="tab-content hidden" id="rentals">
      <h3 class="text-center">
        <%= render 'shared/rentals_index', locals: { rentals: @rentals }  %>
      </h3>
    </div>

</body>
</html>
