


<div class ="text-center"><h1>Show page</h1></div>

<div class="wrapper show_box">
  <div class="container text-center">
    <div class="row">
      <!-- pic and seller info -->
      <div class="col-xs-12 col-md-6">
        <div class="bike_seller ">
          <div class="image-frame">
            <%= image_tag("tricycle.jpg",
            width: 400, height: 200, crop: :fill, ) %>
          </div>
          <div class="seller-info">
            <p> Owner: <%= @bike.seller.name %> </p>
            <p> Location: Amsterdam<%= @bike.location %> </p>
          </div>
        </div>
      </div>

      <!-- description -->

      <div class="col-xs-12 col-md-3">
        <div id="bike-description">

          <h3>Description</h3>
        </div>

      </div>
      <!-- bike info and booking -->
      <div class="col-xs-12 col-md-3">
        <div class="bike-info">
          <p id="bike-header"><%= @bike.name %></p>
          <p> location: <%=  @bike.location %> </p>
          <p> condition: <%=  @bike.condition %> </p>
          <p> availability: <%=  @bike.availability %>  </p>
          <p> price: <%=  @bike.price %> </p>
          <div class="btn-book">
            <%= link_to "Book this bike", new_bike_rental_path(@bike), class: "btn btn-yellow" %>
          </div>
        </div>

      </div>



    </div>
  </div>
</div>
