<style>

/*div {
  border: .5px solid black;
  }*/

</style>



<!-- main div containing everything (product) -->
<div class="container">
  <div class="row">
    <!-- left side container -->
    <div class="col-xs-12 col-md-6">
      <div class="container-show-left margin-top">
        <!-- bike info and pic -->
        <div class="bike-details">
          <!-- bike info -->
          <div class="bike-description">
            <h5><%= @bike.name %></h5>
            <ul class="bike-specs">
              <li>
                <%# @bike.rating.times do  %>
                <i class="fa fa-star golden" aria-hidden="true"></i>
                <%# end %>
                <%# (5 - @bike.rating).times do %>
                <i class="fa fa-star gray" aria-hidden="true"></i>
                <%# end %>
                <i class="fa fa-star" aria-hidden="true"></i>

                <li> <p><span> <i class="fa fa-euro gray" aria-hidden="true"></i>Price</span> <%=  @bike.price %></p></li>
                <li> location: <%=  @bike.location %></li>
                <li> condition: <%=  @bike.condition %></li>
                <li> availability: <%=  @bike.availability %></li>
              </ul>

            </div>
            <div class="image-bike-show-">
             <%= image_tag("tricycle.jpg",
             width: 200, height: 180, crop: :fill,  class: "bike-image" ) %>
           </div>
         </div>
         <div class="seller-details margin-top">
          <h5>About Owner</h5>
          <p> <%= @bike.description %></p>
          <div class="show-avatar">
            <img class="card-user avatar avatar-large" src=<%= image_path('geek.jpg')%>>
          </div>
        </div>

      </div>
      <!-- seller details -->

    </div>



    <!-- right side container -->
    <div class="col-xs-12 col-md-6">
      <div class="container-show-right margin-top">
        <!-- booking form -->
        <div class="booking-form">

         <!-- <div class="btn-book">
            <%#= link_to "Book this bike", new_bike_rental_path(@bike), class: "btn btn-yellow btn-book" %>
          </div> -->
        </div>

        <!-- map -->

        <div class="map-show">


        </div>
      </div>
    </div>

  </div>
</div>

















<!-- <div class ="text-center"><h1>Show page</h1></div>
-->
<!-- <div class="wrapper show_box">
  <div class="container text-center">

    <div class="row"> -->

      <!-- pic and seller info -->
      <!-- <div class="col-xs-12 col-md-6 col-md-offset-1">
        <div class="show-card text-left">
          <div class="image-frame">
            <%= image_tag("tricycle.jpg",
            width: 400, height: 200, crop: :fill,  class: "bike-image" ) %>
          </div>
          <div class="show-footer">
            <p> Owner: <%= @bike.seller.name %> </p>
            <p> Location: Amsterdam<%= @bike.location %> </p>
          </div>
        </div>
      </div> -->

      <!-- description -->

     <!--  <div class="col-xs-12 col-md-3">
        <div id="bike-description">
          <h3>Description</h3>
          <p class>Great child's bike for rent. My little girl loves it but is too big now.</p>
        </div>
      </div> -->

      <!-- bike info and booking -->
      <!-- <div class="col-xs-12 col-md-3 col-md-offset-1" >
        <div class="bike-info">
          <p id="bike-header"><%= @bike.name %></p>
          <div class="bike-details">
            <p> location: <%=  @bike.location %> </p>
            <p> condition: <%=  @bike.condition %> </p>
            <p> availability: <%=  @bike.availability %>  </p>
            <p> price: <%=  @bike.price %> </p>
          </div>
          <div class="btn-book">
            <%= link_to "Book this bike", new_bike_rental_path(@bike), class: "btn btn-yellow btn-book" %>
          </div>
        </div>
      </div>

<!-- JS content for  -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    const coord = <%= raw @bike_coordinates.to_json %>;
    alert('Bike coordinates are ' + coord.lat + ', ' + coord.lng);
  <% end %>
<% end %>

    </div>
  </div>
</div> -->
