<style>

/*div {
  border: .5px solid black;
  }*/

</style>



<!-- main div containing everything (product) -->
<div class="wrapper-show">
<div class="container">
  <div class="row">
    <!-- left side container -->
    <div class="col-xs-12 col-md-8">
      <div class="container-show-left margin-top">
        <!-- bike info and pic -->
        <div class="bike-details">
          <!-- bike info -->
          <div class="bike-description">
            <h5><%= @bike.name %></h5>
            <ul class="bike-specs">
              <li>
                <%# @bike.rating.times do  %>
                <i class="fa fa-star golden" aria-hidden="true"></i>
                <%# end %>
                <%# (5 - @bike.rating).times do %>
                <i class="fa fa-star gray" aria-hidden="true"></i>
                <%# end %>
                <i class="fa fa-star" aria-hidden="true"></i>

                <li> <p><span> <i class="fa fa-euro gray" aria-hidden="true"></i>Price</span> <%=  @bike.price %> per day</p></li>
                <li> <p><span>Location</span> <%=  @bike.location %></p></li>
                <li> <p><span>Condition</span> <%=  @bike.condition %></p></li>
                <li> <p><span>Availability</span> <%=  @bike.availability %></p></li>
              </ul>

            </div>
            <div class="image-bike-show-">
             <%= image_tag("tricycle.jpg",
             width: 200, height: 180, crop: :fill,  class: "bike-image" ) %>
           </div>
         </div>
         <!-- seller details -->
         <div class="seller-details margin-top">
          <h5>About Owner</h5>
          <ul class="about-owner">
            <li><p><span></span> <%=  @bike.seller.name %></p></li>
            <p> <%= @bike.description %></p>
          </ul>



          <div class="show-avatar">
            <img class="card-user avatar avatar-large avatar-show" src=<%= image_path('geek.jpg')%>>
          </div>
        </div>
        <div class="map-show" id="map">
          <% hash = @hash %>

          <%= render partial: 'shared/map', hash: hash %>


        </div>
      </div>


    </div>



    <!-- right side container -->
    <div class="col-xs-12 col-md-4">
      <div class="container-show-right margin-top">
        <!-- booking form -->
        <div class="booking-form">
          <h5>Book a beautiful bike</h5>
          <%= render 'shared/new_rental_form', locals: { bike: @bike}, class: "sticky" %>

        </div>

        <!-- map -->


      </div>
    </div>

  </div>
</div>
</div>










