
<!-- <div class ="text-center"><h1>Show page</h1></div>
-->
<div class="wrapper show_box">
  <div class="container text-center">
    <div class="row">

      <!-- pic and seller info -->
      <div class="col-xs-12 col-md-6 col-md-offset-1">
        <div class="bike_seller text-left">
          <div class="image-frame">
            <%= image_tag("tricycle.jpg",
            width: 400, height: 200, crop: :fill,  class: "bike-image" ) %>
          </div>
          <div class="seller-info">
            <p> Owner: <%= @bike.seller.name %> </p>
            <p> Location: Amsterdam<%= @bike.location %> </p>
          </div>
        </div>
      </div>

      <!-- description -->

     <!--  <div class="col-xs-12 col-md-3">
        <div id="bike-description">
          <h3>Description</h3>
          <p class>Great child's bike for rent. My little girl loves it but is too big now.</p>
        </div>
      </div> -->

      <!-- bike info and booking -->
      <div class="col-xs-12 col-md-3 col-md-offset-1" >
        <div class="bike-info">
          <p id="bike-header"><%= @bike.name %></p>
          <div class="bike-details">
            <p> location: <%=  @bike.location %> </p>
            <p> condition: <%=  @bike.condition %> </p>
            <p> availability: <%=  @bike.availability %>  </p>
            <p> price: <%=  @bike.price %> </p>
          </div>
          <div class="btn-book">
            <%= link_to "Book this bike", new_bike_rental_path(@bike), class: "btn btn-yellow btn-book" %>
          </div>
        </div>
      </div>

<!-- JS content for  -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    const coord = <%= raw @bike_coordinates.to_json %>;
    alert('Bike coordinates are ' + coord.lat + ', ' + coord.lng);
  <% end %>
<% end %>

    </div>
  </div>
</div>
